@import 'tailwindcss';

* {
  color-scheme: dark;
}

:root {
  --app-px: 1rem;
}

@media (min-width: 40rem) {
  :root {
    --app-px: 1.5rem;
  }
}

@media (min-width: 48rem) {
  :root {
    --app-px: 2rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --app-px: 3rem;
  }
}

@media (min-width: 80rem) {
  :root {
    --app-px: 4rem;
  }
}

@media (min-width: 96rem) {
  :root {
    --app-px: 16rem;
  }
}

@theme {
  --font-plus: var(--font-plus-jakarta-sans), sans;
  --font-poppins: var(--font-poppins), sans-serif;
}

@utility text-gradient {
  @apply bg-linear-to-r from-pink-500 to-purple-500 bg-clip-text text-transparent;
}

@utility button {
  @apply hover:brightness-110 hover:scale-105 active:scale-90 active:brightness-90 active:opacity-90 disabled:opacity-50 cursor-pointer disabled:pointer-events-none transition duration-300;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.75);
    filter: blur(10px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-appear {
    animation: none;
  }
}
